Django==4.2.19
djangorestframework==3.15.2
django-allauth==65.4.1
dj-rest-auth[with_social]==7.0.1
psycopg2==2.9.10
drf-spectacular==0.28.0
django-cors-headers==4.7.0
pillow==11.1.0
django-phonenumber-field[phonenumbers]==8.0.0
django-model-utils==5.0.0
django-q==1.3.9
python-dotenv==1.0.1
gunicorn==23.0.0
django_extensions==3.2.3
boto3==1.36.21
django-storages==1.14.5
django-mjml[requests]==1.3
typing-extensions==4.12.2
django-citext==1.0.2
